.Task {
	background-color: #555555;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: 2px solid gold;
	border-radius: 5px;
	transition: background-color 0.3s;

	width: 900px;
	
	z-index: 2;
	
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
}

.TaskContent {
	flex-grow: 1;
}

.TaskBtn {
	background-color: #4CAFAA;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-right: 10px;
	
	width: auto;
	z-index: 2,
}

.TaskBtn:hover {
	background-color: #22AF22;
}

.TaskBtnDelete:hover {
	background-color: #FF2222;
}

.ToDoAddBtn {
	background-color: #4CAF50;
	color: white;
	padding: 10px 20px;
	font-size: 16px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s;
	margin-right: 10px;
	
	width: auto;
	z-index: 2,
}

.ToDoAddBtn:hover {
	background-color: #45a049;
}


.to-do-txtbox {
	padding: 10px;
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-bottom: 10px;
	width: 700px;
	margin-right: 10px;
	
	z-index: 2,
}

.to-do-txtbox:focus {
	outline: none;
	border-color: #4CAF50;
}

.input-container {
	display: flex;
	align-items: center;
}

.input-container label {
	margin-right: 10px;
}